<section class="blog-article {{className}}">
    <div class="blog-article__content content">
        <div class="blog-article__head">
            <a href="#_" class="blog-article__back-btn">
                <svg width="24" height="13" viewBox="0 0 24 13">
                    <rect y="5" width="18" height="3" fill=""/>
                    <path d="M17.3639 0L23.7278 6.36391L17.3639 12.7278V0Z" fill=""/>
                </svg>
            </a>
            <h2 class="blog-article__title title">Управление персоналом в крупной компании</h2>
            <div class="blog-article__date">12.04.19</div>
        </div>

        <div class="blog-article__inner">
            <div class="blog-article__pic">
                <img class="blog-article__img" src="assets/img/blog-article/manager.jpg" alt="manager">
            </div>
            <div class="blog-article__text blog-article__text_preamble">
                Персонал (или кадры) — это основной штатный состав работников организации, выполняющих различные производственно-хозяйственные функции. Персонал характеризуется, прежде всего, своей численностью. Она же определяется характером, масштабами, сложностью, трудоемкостью производственных процессов, степенью их механизации, автоматизации, компьютеризации.
            </div>
            <div class="blog-article__text">
                Персонал организации — это один из видов ресурсов предприятия отличающийся от других (финансовых, материальных, сырьевых) тем, что этот ресурс мыслящий — работник имеет право вести переговоры об уровне оплаты его труда. Получать новые знания, как в рамках имеющейся специальности, так и получать новую квалификацию, отказаться от условий, на которых его собираются использовать, участвовать в забастовках, увольняться по собственному желанию. Именно люди приводят в движение материально-вещественные элементы производства, создают продукт, стоимость и прибавочный продукт в форме прибыли. Поэтому персонал и является главным ресурсом каждой организации, от качества и эффективности использования которого во многом зависят и результаты деятельности и конкурентоспособность.
            </div>
            <div class="blog-article__text">
                Сущность управления персоналом заключается в установлении организационно-экономических, социально-психологических и право­вых отношений субъекта и объекта управления. В основе этих отношений лежат принципы, методы и формы воздействия на инте­ресы, поведение и деятельность работников в целях максимального использования их знаний, умений и навыков. Методологически эта сфера управления обладает специфическим понятийным аппаратом, имеет отличительные характеристики и показатели деятельности, специальные процедуры и методы изучения и направления анализа содержания труда различных категорий персонала.
            </div>
            <div class="blog-article__pic blog-article__pic_narrow">
                <img class="blog-article__img" src="assets/img/blog-article/colleagues.jpg" alt="colleagues">
            </div>
            <div class="blog-article__text">
                Персонал организации — это один из видов ресурсов предприятия отличающийся от других (финансовых, материальных, сырьевых) тем, что этот ресурс мыслящий — работник имеет право вести переговоры об уровне оплаты его труда. Получать новые знания, как в рамках имеющейся специальности, так и получать новую квалификацию, отказаться от условий, на которых его собираются использовать, участвовать в забастовках, увольняться по собственному желанию. Именно люди приводят в движение материально-вещественные элементы производства, создают продукт, стоимость и прибавочный продукт в форме прибыли. Поэтому персонал и является главным ресурсом каждой организации, от качества и эффективности использования которого во многом зависят и результаты деятельности и конкурентоспособность.
            </div>
            <div class="blog-article__text">
                Сущность управления персоналом заключается в установлении организационно-экономических, социально-психологических и право­вых отношений субъекта и объекта управления. В основе этих отношений лежат принципы, методы и формы воздействия на инте­ресы, поведение и деятельность работников в целях максимального использования их знаний, умений и навыков. Методологически эта сфера управления обладает специфическим понятийным аппаратом, имеет отличительные характеристики и показатели деятельности, специальные процедуры и методы изучения и направления анализа содержания труда различных категорий персонала.
            </div>
        </div>

        <div class="blog-article__comments-wrap">
            {{> comments}}
        </div>

    </div>
</section>