<section class="terms-content {{className}}">
    <div class="content">
        <h2 class="terms-content__title title">Пользовательское соглашение</h2>

        <div class="terms-content__paragraf">
            о правилах использования сервиса WikiWorks.ru</br>
            утверждено 10/01/ 2018 г. (ред. № 1 10/01/ 2017 г.)</br>
            Каждому лицу, использующему сервис «WikiWorks.ru», предлагается заключить нижеприведенное соглашение путем его акцепта на следующих условиях:
        </div>
        <div class="terms-content__subtitle">1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ</div>
        <div class="terms-content__paragraf">
            <div class="terms-content__indent">
                1.1 Для целей настоящего соглашения, нижеприведенные термины и определения толкуются следующим образом:
            </div>
            <div class="terms-content__indent">
                <b>Администрация</b> – уполномоченный орган, осуществляющий контроль, надзор, управление Сервисом, сторона настоящего Соглашения.
            </div>
            <div class="terms-content__indent">
                <b>Контент</b> – элементы дизайна, графические изображения, скрипты, программы для ЭВМ, аудио, видео и иные объекты интеллектуальной собственности, права на которые принадлежат Администрации, Пользователям, или третьим лицам.
            </div>
            <div class="terms-content__indent">
                <b>Персональная страница</b> – это web-страница (личный кабинет), содержащие сведения о Пользователе.
            </div>
            <div class="terms-content__indent">
                <b>Пользователь</b> – юридическое лицо или индивидуальный предприниматель, использующий Сервис совместно со своими Работниками.
            </div>
            <div class="terms-content__indent">
                <b>Работник</b> – физическое лицо, являющееся наемным сотрудником Пользователя, с которым заключен трудовой или гражданско-правовой договор.
            </div>
            <div class="terms-content__indent">
                <b>Регламент</b> – локальный нормативный акт Пользователя или иной документ, изданный (принятый) Пользователем, являющийся обязательным для исполнения Работниками.
            </div>
            <div class="terms-content__indent">
                <b>Сервис</b> – корпоративный онлайн-сервис, предназначенный для организации и контроля бизнес-процессов Пользователя. Представляет собой совокупность размещенных в сети Интернет web-страниц и программных решений, объединенных единой тематикой, дизайном и одним адресным пространством домена http://wikiworks.ru/ (и/или иных доменов, которые могут для этого использоваться Администрацией время от времени). Стартовая страница Сервиса, через которую Администрация предполагает осуществлять доступ к остальным основным web-страницам, размещена в сети Интернет по адресу http://wikiworks.ru/
            </div>
            <div class="terms-content__indent">
                <b>Соглашение</b> – настоящее соглашение, заключенное между Сторонами, в котором определены условия и порядок предоставления использования Контента Пользователям, условия использования Сервиса.
            </div>
            <div class="terms-content__indent">
                <b>Стороны</b> — Администрация и Пользователь, принявший (принимающий) настоящее Соглашение.
            </div>
            <div class="terms-content__indent">
                1.2 Данное Соглашение может содержать понятия и термины, не определенные в Разделе 1. В этих случаях толкование понятий и терминов производится в соответствии с текстом и смыслом Соглашения. В случае отсутствия однозначного толкования понятия и термина в тексте Соглашения, в первую очередь следует руководствоваться толкованием понятий и терминов, используемых на web-страницах Сервиса.
            </div>
            <div class="terms-content__indent">
                1.3 Все термины и определения, указанные в Разделе 1 настоящего Соглашения должны расцениваться исключительно в том смысле, который им придан Соглашением. Законодательство Российской Федерации или иные нормативно-правовые акты могут придавать терминам и определениям другое смысловое значение, однако в целях настоящего Соглашения следует руководствоваться смысловым значением, закрепленным Соглашением.
            </div>
            <div class="terms-content__indent">
                1.4 В случае расхождения информации, размещенной в Сервисе, с информацией, указанной в настоящем Соглашении, следует руководствоваться информацией, указанной в Сервисе.
            </div>
        </div>
        <div class="terms-content__subtitle">2. ОБЩИЕ ПОЛОЖЕНИЯ</div>
        <div class="terms-content__paragraf">
                <div class="terms-content__indent">
                    2.1 Данный документ представляет собой публичную оферту.
                </div>
                <div class="terms-content__indent">
                    2.2 Полным и безоговорочным Акцептом настоящего Соглашения является осуществление Пользователем действий в порядке, определенном настоящим Соглашением.
                </div>
                <div class="terms-content__indent">
                    2.3 Настоящее Соглашение применяются для урегулирования отношений между Администрацией и Пользователем во всех вопросах, связанных с использованием Сервиса. К незарегистрированным Пользователям Соглашение применимо в той части, насколько это возможно с учетом функций, доступных незарегистрированным Пользователям.
                </div>
                <div class="terms-content__indent">
                    2.4 Настоящее Соглашение применяется к отношениям Сторон, связанным с предоставлением Администрацией Пользователю услуг по использованию Сервиса.
                </div>
                <div class="terms-content__indent">
                    2.5 Пользователь обязан полностью ознакомиться с настоящим Соглашением до момента начала использования Сервиса. Использование Сервиса или регистрация Пользователя в Сервисе означает полное и безоговорочное принятие Пользователем настоящего Соглашения, а также условий Сервиса.
                </div>
                <div class="terms-content__indent">
                    2.6 Акцепт Соглашения означает, что Пользователь согласен со всеми положениями настоящего Соглашения, и равносилен заключению договора в соответствии Гражданским кодексом Российской Федерации, обычаями делового оборота в Российской Федерации, либо нормами международных договоров.
                </div>
                <div class="terms-content__indent">
                    2.7 Настоящее Соглашение предоставляется в электронном виде для ознакомления Пользователю в момент его регистрации. Действующая редакция Соглашения располагается в сети Интернет по адресу: http://wikiworks.ru/agreement, каждый Пользователь имеет возможность ознакомиться с действующей редакцией Соглашения в любой момент времени.
                </div>
                <div class="terms-content__indent">
                    2.8 Акцепт настоящего Соглашения осуществляется путем нажатия Пользователем кнопки «Принимаю» (или иной аналогичной кнопки), во время регистрации в Сервисе, либо путем совершения действий, направленных на фактическое использование Сервиса.
                </div>
                <div class="terms-content__indent">
                    2.9 Принимая Соглашения, Пользователь подтверждает, что он действует добросовестно, добровольно и разумно в пределах своей правоспособности (дееспособности), не имея препятствий к принятию настоящего Соглашения, полностью понимает значение и смысл настоящего Соглашения. Также, принимая Соглашения, Пользователь подтверждает, что законодательство его страны не препятствует ему использовать Сервис. Принятием Соглашения Пользователь подтверждает, что используя Сервис он не нарушает законодательство страны, гражданином которой он является, либо не находится на территории этой страны в момент использования Сервиса.
                </div>
                <div class="terms-content__indent">
                    2.10 Начало пользования любыми возможностями и функциями Сервиса, включая просмотр страниц, независимо от факта регистрации или публикации информации в Сервисе, означает согласие Пользователя с Соглашением без каких-либо оговорок.
                </div>
                <div class="terms-content__indent">
                    2.11 Настоящее Соглашение может быть изменено и/или дополнено Администрацией в одностороннем порядке без какого-либо специального уведомления.
                </div>
                <div class="terms-content__indent">
                    2.12 Принимая настоящее Соглашения, каждый Пользователь обязуется просматривать возможные изменения в Соглашении, понимает риск наступления возможных негативных последствий, связанный с невыполнением этой обязанности. Дальнейшее использование Сервиса Пользователем после внесения изменений в Соглашение свидетельствует о принятии Пользователем изменений и о намерении продолжить использование Сервиса.
                </div>
                <div class="terms-content__indent">
                    2.13 К отношениям Сторон в качестве применимого признается исключительно право Российской Федерации.
                </div>
                <div class="terms-content__indent">
                    2.14 Порядок использования Сервиса может быть описан на его соответствующих web-страницах. При использовании Сервиса Пользователь обязуется знакомиться с информацией, опубликованной на web-страницах Сервиса, касающейся его использования.
                </div>
        </div>
        <div class="terms-content__subtitle">3. ОПИСАНИЕ ОСНОВНЫХ ПРИНЦИПОВ СЕРВИСА</div>
        <div class="terms-content__paragraf">
            <div class="terms-content__indent">
                3.1 Основная цель Сервиса – предоставление Пользователям возможности осуществлять внедрение в деятельность Регламентов и обеспечение их дальнейшего соблюдение Работниками.
            </div>
            <div class="terms-content__indent">
                3.2 Основными задачами Сервиса являются:
            </div>
            <div class="terms-content__indent">
                — Размещение Регламентов.
            </div>
            <div class="terms-content__indent">
                — Обеспечение доступа Работников к Регламента.
            </div>
            <div class="terms-content__indent">
                — Контроль ознакомления Работников с размещенными Регламентами.
            </div>
            <div class="terms-content__indent">
                — Тестирование и аттестация Работников на предмет усвоения размещенного Регламента.
            </div>
            <div class="terms-content__indent">
                — Проверка соблюдения Работником Регламента.
            </div>
            <div class="terms-content__indent">
                — Сбор и систематизация сообщений о неисполнении Работником Регламента.
            </div>
            <div class="terms-content__indent">
                — Учет действий Работников по ознакомлению с Регламентами, формирование статистики.
            </div>
            <div class="terms-content__indent">
                — Разработка системы штрафов и поощрений за несоблюдение Работником Регламента.
            </div>
            <div class="terms-content__indent">
                3.3 Перечень, определенный п. 3.2 Соглашения, не является исчерпывающим и может быть дополнен или изменен на усмотрение Администрации, если не меняет основных целей Проекта.
            </div>
            <div class="terms-content__indent">
                3.4 Более подробные условия об использовании Сервиса могут размещаться Администрацией на web-страницах Сервиса.
            </div>
            <div class="terms-content__indent">
                3.5 Информация об изменения условий использования Сервиса, переходных положениях может быть получена на web-страницах Сервиса, а также из настоящего Соглашения.
            </div>
            <div class="terms-content__indent">
                3.6 Пользователь самостоятельно определяет круг Работников, которым предоставляется доступ к Сервису. Работники обладают ограниченными возможностями по использованию Сервиса.
            </div>
        </div>
        <div class="terms-content__subtitle">4. ВОЗНАГРАЖДЕНИЕ АДМИНИСТРАЦИИ</div>
        <div class="terms-content__paragraf">
            <div class="terms-content__indent">
                4.1 За использование Сервиса Пользователь выплачивает Администрации вознаграждение.
            </div>
            <div class="terms-content__indent">
                4.2 Размер вознаграждения определяется в соответствии с информацией, размещенной на соответствующих web-страницах Сервиса в зависимости от набора услуг, выбранного Пользователем.
            </div>
            <div class="terms-content__indent">
                4.3 Оплата за осуществляется с использованием средств оплаты, доступных на Сайте. Обязательства по оплате считаются исполненными с момента зачисления денежных средств на расчетный или электронный счет Администрации.
            </div>
            <div class="terms-content__indent">
                4.4 Возврат денежных средств Правообладателем осуществляется тем же способом, каким Пользователь производил оплату, если иное не определено по соглашению Сторон.
            </div>
            <div class="terms-content__indent">
                4.5 При возврате денежных средств Правообладатель в целях идентификации Пользователя вправе запросить у Пользователя сканкопии документов, удостоверяющих личность, подтверждающие полномочия, правоустанавливающие документы, а также иные дополнительные сведения. В этом случае отсутствие таких документов (сведений) может повлечь невозможность осуществления возврата денежных средств.
            </div>
            <div class="terms-content__indent">
                4.6 Пользователь не вправе досрочно отказаться от использования Сервиса, потребовав возврата денежных средств, если иное не указано на соответствующих web-страницах Сервиса.
            </div>
        </div>

        <div class="terms-content__subtitle">5. УСЛОВИЯ ПРЕДОСТАВЛЕНИЯ КОНТЕНТА</div>
            <div class="terms-content__paragraf">
                <div class="terms-content__indent">
                    5.1 Сервис содержит Контент, который предоставляется на условиях неисключительной лицензии без права ее передачи третьим лицам.</div>
                <div class="terms-content__indent">
                    5.2 Лицензия предоставляет Пользователю возможность воспроизведения и осуществления публичного показа Контента в сети Интернет неограниченному кругу лиц, без права его копирования, за исключением автоматического временного копирования на материальный носитель, осуществляемого операционной системой.</div>
                <div class="terms-content__indent">
                    5.3 Использование Контента иным способом, не установленным настоящим Соглашением, не допускается.</div>
                <div class="terms-content__indent">
                    5.4 Администрация гарантирует, что она является надлежащим правообладателем на Контент. Администрация также гарантирует, что Контент не содержит каких-либо элементов, нарушающих права третьих лиц.</div>
                <div class="terms-content__indent">
                    5.5 Использование Контента допускается на территории любого государства, гражданином которого является Пользователь.</div>
                <div class="terms-content__indent">
                    5.6 Лицензия предоставляется Пользователю безвозмездно.</div>
            </div>

            <div class="terms-content__subtitle">6. ПРАВИЛА ИСПОЛЬЗОВАНИЯ СЕРВИСА. ПРАВА И ОБЯЗАННОСТИ ПОЛЬЗОВАТЕЛЯ</div>
            <div class="terms-content__paragraf">
                <div class="terms-content__indent">6.1 Использование Сервиса возможно только при условии принятия Пользователем настоящего Соглашения. Использование Сервиса без Акцепта Соглашения не допускается.</div>
                <div class="terms-content__indent">6.2 Пользователь обязуется указывать при регистрации достоверную информацию о себе на Персональной странице, своих контактных данных, платежных реквизитах (расчетные счета, реквизиты иных платежных систем, электронные кошельки и т.п.).</div>
                <div class="terms-content__indent">6.3 При изменении информации о себе, своих контактных данных, платежных реквизитах Пользователь обязуется своевременно вносить соответствующие изменения.</div>
                <div class="terms-content__indent">6.4 Для входа на Сервис Пользователь использует логин и пароль, указанный им при регистрации.</div>
                <div class="terms-content__indent">6.5 При доступе Пользователя к Сервису может применяться технология авторизации Пользователя в Сервисе, а также для сбора статистических данных, в частности о посещаемости Сервиса.</div>
                <div class="terms-content__indent">6.6 При возникновении проблем с использованием Сервиса, а также при утрате логина и(или) пароля от Персональной страницы, Пользователь вправе обратиться в службу поддержки Сервиса с просьбой о восстановлении пароля, либо о предоставлении помощи или устранении возникающей проблемы.</div>
                <div class="terms-content__indent">6.7 Для восстановления пароля Пользователь может воспользоваться специальной формой для восстановления пароля, размещенной в Сервисе.</div>
                <div class="terms-content__indent">6.8 Пользователь обязуется соблюдать необходимые меры предосторожности, связанные с сохранностью логина, пароля, а также совершать необходимые действия, направленные на защиту целостности информации, представляющей для него ценность.</div>
                <div class="terms-content__indent">6.9 Пользователь обязуется соблюдать общепринятые нормы поведения и ведения переговоров при использовании Сервиса, вести себя уважительно по отношению к Администрации, другим Пользователям, не допускать со своей стороны высказываний, порочащих честь, достоинство и деловую репутацию Администрации.</div>
                <div class="terms-content__indent">6.10 При использовании Сервиса запрещается любое поведение, которое может рассматриваться международным законодательством или законодательством РФ как противоправное, нарушающее публичное, либо частное право.</div>
                <div class="terms-content__indent">6.11 При использовании Сервиса запрещается распространение Регламентов и информации (либо гиперссылок на нее):</div>
                <div class="terms-content__indent">— содержащей угрозы, дискредитирующей, оскорбляющей, порочащей честь и достоинство или деловую репутацию или нарушающей неприкосновенность частной жизни других Пользователей или третьих лиц;</div>
                <div class="terms-content__indent">— являющейся вульгарной или непристойной, содержащей порнографические изображения и тексты или сцены сексуального характера с участием несовершеннолетних;</div>
                <div class="terms-content__indent">— содержащей сцены бесчеловечного обращения с животными;</div>
                <div class="terms-content__indent">— содержащей описание средств и способов суицида, любое подстрекательство к его совершению;</div>
                <div class="terms-content__indent">— пропагандирующей и/или способствующей разжиганию расовой, религиозной, этнической ненависти или вражды, пропагандирующей фашизм или идеологию расового превосходства;</div>
                <div class="terms-content__indent">— пропагандирующей преступную деятельность или содержащей советы, инструкции или руководства по совершению преступных действий,</div>
                <div class="terms-content__indent">— содержащей информацию конфиденциального характера, включая, но не ограничиваясь, государственную и коммерческую тайну, информацию о частной жизни третьих лиц;</div>
                <div class="terms-content__indent">— содержащей рекламу или описывающей привлекательность употребления наркотических веществ, в том числе «цифровых наркотиков» (звуковых файлов, оказывающих воздействие на мозг человека за счет бинауральных ритмов), информацию о распространении наркотиков, рецепты их изготовления и советы по употреблению;</div>
                <div class="terms-content__indent">— призывающей к совершению мошеннических действий;</div>
                <div class="terms-content__indent">— иным образом нарушающей права и интересы граждан и юридических лиц или требования законодательства Российской Федерации, либо международных договоров.</div>
                <div class="terms-content__indent">6.12 Пользователю запрещается указывать недостоверную информацию о себе, регистрироваться от имени другого лица, без надлежащих на то полномочий, вводить Администрацию в заблуждение относительно своей личности.</div>
                <div class="terms-content__indent">6.13 Пользователь обязуется информировать Администрацию о любом несанкционированном доступе к его Персональной странице.</div>
                <div class="terms-content__indent">6.14 Пользователю запрещается совершать какие-либо действия, направленные в обход Сервиса, причинение вреда другим Пользователям, в том числе мошеннические действия, использование стороннего программного обеспечения, наносящего вред и т.п.</div>
                <div class="terms-content__indent">6.15 При осуществлении использования Сервиса Пользователь обязуется не нарушать права третьих лиц, в том числе не распространять информацию, не соответствующую действительности, вести себя добросовестно по отношению к другим Пользователям.</div>
                <div class="terms-content__indent">6.16 Пользователь обязуется не совершать действий, нарушающих интеллектуальные права третьих лиц, не размещать Контент без согласия автора, либо с нарушением условий использования, на которых автор предоставил такой Контент.</div>
            </div>

            <div class="terms-content__subtitle">7. ПРАВА И ОБЯЗАННОСТИ АДМИНИСТРАЦИИ</div>
            <div class="terms-content__paragraf">
                <div class="terms-content__indent">7.1 Администрация обеспечивает круглосуточное функционирование Сервиса. При необходимости Администрацией могут проводиться технические работы, связанные с внесением изменений и дополнений в Сервис.</div>
                <div class="terms-content__indent">7.2 При этом Стороны признают возможную утрату работоспособности Сервиса и его отдельных модулей, компонентов, возникновение сбоев в работе Сервиса, а также возможную утрату доступа Пользователя к Сервису по причинам, связанным с проведением технических работ.</div>
                <div class="terms-content__indent">7.3 Администрация не предоставляет каких-либо гарантий, связанных с достижением какого-то результата при использовании Сервиса, не гарантирует наличие какой-либо выгоды, в том числе коммерческой, достижения какого-то результата, либо удовлетворения иных потребностей Пользователя.</div>
                <div class="terms-content__indent">7.4 Администрация вправе по своему усмотрению изменять, дополнять, удалять различные элементы и блоки Сервиса без предварительного уведомления Пользователя.</div>
                <div class="terms-content__indent">7.5 Администрация осуществляет текущее управление Сервисом, совершает действия, направленные на улучшение работоспособности и иных характеристик Сервиса, стремится к оказанию помощи обратившегося к ней Пользователя.</div>
                <div class="terms-content__indent">7.6 Администрация стремится к обеспечению соблюдения Пользователями настоящего Соглашения, путем осуществления контроля, надзора и пресечения неправомерных действий Пользователей. Контроль, надзор и пресечение является правом Администрации, а не обязанностью. Администрация не гарантирует отсутствие какого-либо Контента, не отвечающего нормам морали, общепринятого поведения, поскольку не может нести ответственность за неправомерные действия Пользователей.</div>
                <div class="terms-content__indent">7.7 Администрация вправе размещать рекламу в Сервисе, осуществлять иное коммерческое использование Сервиса.</div>
                <div class="terms-content__indent">7.8 Администрация является лицом, организовавшим техническую возможность для использования Сервиса, не выступает в роли медиатора, либо лица, разрешающего споры между Пользователями и Работниками.</div>
                <div class="terms-content__indent">7.9 Администрация обязуется по возможности осуществлять помощь Пользователям и отвечать на их вопросы, если они связаны с использованием Сервиса. Ответ предоставляется Администрацией в разумные сроки.</div>
                <div class="terms-content__indent">7.10 Администрация вправе приостанавливать или ограничивать доступ Пользователя к Сервису, заблокировать доступ к Сервису, либо его отдельному элементу, разделу, если ей станет известно о том, что Пользователь использует его не по назначению, нарушает условия настоящего Соглашения.</div>
                <div class="terms-content__indent">7.11 Администрация вправе удалять или модерировать (изменять) любой Контент, Регламент, который, по ее мнению, нарушает или может нарушать законодательство РФ, либо не соответствует настоящему Соглашению, без указания причин и иных пояснений.</div>
                <div class="terms-content__indent">7.12 Администрация вправе приостанавливать или ограничивать доступ Пользователя к Сервису, либо его отдельному элементу, разделу, сервису, если Пользователь нарушает настоящее Соглашение, либо законодательство РФ, а также в случаях поступления информации от других Пользователей, либо третьих лиц о таких нарушениях.</div>
                <div class="terms-content__indent">7.13 Администрация вправе удалить или заблокировать аккаунт Пользователя в случаях, когда Пользователь нарушает настоящее Соглашение, либо осуществляет использование Сервиса с нарушением законодательства РФ.</div>
                <div class="terms-content__indent">7.14 Администрация вправе оказывать иные платные услуги, не предусмотренные настоящим Соглашением. Стоимость и условия предоставления платных услуг может быть размещена Администрацией в Сервисе.</div>
                <div class="terms-content__indent">7.15 Администрация вправе осуществлять рассылку sms-сообщений, сообщений по электронной почте, а также личных сообщений с использованием Сервиса, содержащих информацию о Сервисе, предупреждения Пользователю, а также иную рекламную информацию.</div>
                <div class="terms-content__indent">7.16 Администрация обязуется информировать Пользователей обо всех изменениях условий использования Сервиса, путем размещения соответствующей информации на страницах Сервиса, его разделах. Также такая информация может быть доведена до сведения Пользователей любым иным удобным способом.</div>
            </div>

            <div class="terms-content__subtitle">8. ОТВЕТСТВЕННОСТЬ СТОРОН</div>
            <div class="terms-content__paragraf">
                <div class="terms-content__indent">8.1 Администрация не несет ответственности за:</div>
                <div class="terms-content__indent">— наступление негативных последствий, в случае предоставление Пользователем недостоверной информации;</div>
                <div class="terms-content__indent">— утрату логина и пароля Пользователем, а также за взлом Персональной страницы Пользователя, если такая утрата или взлом были вызваны неосмотрительностью Пользователя, либо нарушением первичной техники безопасности в сети Интернет, а также неправомерными действиями третьих лиц;</div>
                <div class="terms-content__indent">— любые неправомерные действия третьих лиц;</div>
                <div class="terms-content__indent">8.2 Пользователь понимает риск наступления негативных последствий в результате несоблюдения законодательства.</div>
                <div class="terms-content__indent">8.3 Администрация несет ответственность за неисполнение условий настоящего Соглашения.</div>
                <div class="terms-content__indent">8.4 Исключается ответственность Администрации, связанная с неисполнением условий настоящего Соглашения в результате сбоев, а также некорректной работы платежных и банковских систем.</div>
                <div class="terms-content__indent">8.5 Пользователь несет ответственность за любой вред, который был причинен Администрации в результате его неправомерных действий, в том числе за упущенную выгоду.</div>
                <div class="terms-content__indent">8.6 Администрация не несет ответственности, если Пользователем были предоставлены недостоверные данные, в том числе платежные реквизиты, если это повлекло неисполнение или ненадлежащее исполнение Администрацией условий настоящего Соглашения.</div>
                <div class="terms-content__indent">8.7 Администрация не несет ответственность за перерывы в доступе к Сервису, связанные с заменой оборудования или проведения других работ, вызванных необходимостью поддержания работоспособности и развития Сервиса, при условии предварительного извещения Пользователя в разумный срок.</div>
                <div class="terms-content__indent">8.8 Администрация не несет ответственности за работу биллинговых, а также платежных систем.</div>
            </div>

            <div class="terms-content__subtitle">9. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</div>
            <div class="terms-content__paragraf">
                <div class="terms-content__indent">9.1 Настоящее Соглашение вступает в силу с момента их Акцепта Пользователем.</div>
                <div class="terms-content__indent">9.2 В случае несогласия Пользователя с Соглашением, либо с изменениями, которые были внесены в последующем Администрацией, Пользователь обязуется прекратить использование Сервиса.</div>
                <div class="terms-content__indent">9.3 К правам и обязанностям Сторон всегда применяется Соглашение новой редакции, если иное не вытекает из характера правоотношений. Новая редакция Соглашения распространяется на ранее действующие правоотношения между Администрацией и Пользователем.</div>
                <div class="terms-content__indent">9.4 Все разногласия и споры Стороны обязуются разрешать путем переговоров. Срок ответа на претензию составляет 20 дней. В случае невозможности урегулирования спора путем переговоров, он подлежит рассмотрению по месту нахождении Администрации в соответствии с законодательством РФ.</div>
            </div>

            <div class="terms-content__subtitle">10. СВЕДЕНИЯ ОБ АДМИНИСТРАЦИИ</div>
            <div class="terms-content__paragraf">
                <div class="terms-content__indent">10.1 Наименование: Общество с ограниченной ответственностью «Бизнес Резалт»;</div>
                <div class="terms-content__indent">10.2 Место нахождения: 109652, город Москва, Мячковский бульвар, дом 20, корпус 2, квартира 154;</div>
                <div class="terms-content__indent">10.3 ИНН: 9723034431 ;</div>
                <div class="terms-content__indent">10.4 ОГРН 1177746949698;</div>
                <div class="terms-content__indent">10.5 Адрес электронной почты для вопросов, связанной с поддержкой Сервиса, его работоспособностью support@wikiworks.ru</div>
            </div>

    </div>
</section>