<section class="taste {{className}}">
    <div class="taste__content content">
        <h2 class="taste__title title">Попробовать <b>WikiWorks</b> в вашей компании</h2>
        <div class="taste__subtitle">Это бесплатно</div>
        <form action="" class="taste__form js-validate">
            <div class="taste__form-group">
                <div class="form__group">
                    <input type="text" class="taste__form-ctrl name" name="name" placeholder="Имя">
                </div> 
                <div class="form__group">
                    <input type="text" class="taste__form-ctrl surname" name="surname" placeholder="Фамилия">
                </div>
                <div class="form__group">
                    <input type="mail" class="taste__form-ctrl email" name="email" placeholder="E-mail">
                </div>
            </div>
            <button type="submit" class="taste__form-btn btn btn_large btn_second btn_second-fill">Попробовать</button>
        </form>
        <div class="taste__terms">
            Нажимая на кнопку вы соглашаетесь с условиями 
            <a class="taste__terms-link" src="#_">пользовательского соглашения</a> 
            и даете согласие на обработку, хранение и распространение персональных данных
        </div>
    </div>
</section>