<div class="blog-card {{className}}">
  <div class="blog-card__pic">
      <img class="blog-card__img" src="{{img-src}}" alt="">
  </div>
  <div class="blog-card__inner">
      <div class="blog-card__name">{{title}}</div>
      <div class="blog-card__date">{{date}}</div>
      <div class="blog-card__text">{{text}}</div>
      <a href="#_" class="blog-card__item-btn">
          <svg width="24" height="13" viewBox="0 0 24 13">
              <rect y="5" width="18" height="3" fill=""/>
              <path d="M17.3639 0L23.7278 6.36391L17.3639 12.7278V0Z" fill=""/>
          </svg>
      </a>
  </div>
</div>