<section class="why-wikiworks {{className}}">
    <div class="content">
        <h2 class="why-wikiworks__title title">Сделайте бизнес эффективнее с <b>W<span class="text-hlt">i</span>kiWorks</b></h2>
        <ul class="why-wikiworks__list js-why-slider">
            {{#each why-wikiworks.items}}
                <li class="why-wikiworks__item">
                    <div class="why-wikiworks__item-pic">
                        <img src="{{img-src}}" alt="2" class="why-wikiworks__item-img">
                    </div>
                    <div class="why-wikiworks__item-text">{{text}}</div>
                </li>
            {{/each}}
        </ul>
        <div class="why-wikiworks__desc-wrap">
            <div class="why-wikiworks__desc-text">Чем больше сотрудников — тем больше бардак. Некомпетентность, безответственность, хаос в операционке, авралы, массовые опоздания и ноль субординации. Неизбежные «болезни роста» компании? Скорее&nbsp;банальное&nbsp;отсутствие четко регламентированных правил, стандартов и бизнес-процессов, что ведет к неэффективности и падению мотивации сотрудников.</div>
            <div class="why-wikiworks__desc-title">WikiWorks помогает решить эту проблему</div>
            <div class="why-wikiworks__desc-text">С нашим порталом ваш бизнес станет прозрачным, эффективным и масштабируемым, а сотрудники действительно захотят работать, добиваться результатов и превратятся в эффективную команду.</div>
        </div>
    </div>
</section>