<section class="promo {{className}}">
    <div class="content promo__content">
        <div class="promo__inner">
            <h2 class="promo__title">Помогаем навести порядок<br class="promo__title-br"> и наладить дисциплину в компании</h2>
            <div class="promo__btn-wrap">
                <button type="button" class="btn btn_large btn_first btn_first-fill">Попробовать бесплатно</button>
                <a href="https://www.youtube.com/watch?v=bM1--JbXDCw" class="btn btn_large btn_second promo__video-btn js-popup-video">Видео о платформе</a>
            </div>
        </div>
    </div>
</section>