<nav class="main-nav {{className}}">
    <ul class="main-nav__list">
        <li class="main-nav__item">
            <a href="#_" class="main-nav__link">Возможности</a>
        </li>
        <li class="main-nav__item">
            <a href="#_" class="main-nav__link">Тарифы</a>
        </li>
        <li class="main-nav__item">
            <a href="#_" class="main-nav__link">Блог</a>
        </li>
        <li class="main-nav__item">
            <a href="#_" class="main-nav__link">Получить портал</a>
        </li>
    </ul>
</nav>