.connect {
    display: flex;
    height: rem(309);
    background-image: url("../img/connect/connect-yellow.svg"), url("../img/connect/connect-blue.svg"), linear-gradient(102.19deg, #ECFAFD 18.29%, #FFF9D8 98.95%);
    background-repeat: no-repeat;
    background-position: bottom left rem(105), bottom right, 0 0;

    @media (max-width: $tablet-width) {
        background-position: bottom left rem(-150), bottom right, 0 0;
    }

    @media (max-width: $mobile-width) {
        height: rem(165);
        background-image: linear-gradient(102.19deg, #ECFAFD 18.29%, #FFF9D8 98.95%);
        background-position: 0 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__mail {
        margin-top: rem(20);
        font-size: rem(38);
        line-height: 1;
        color: $color-second-1;

        @media (max-width: $mobile-width) {
            margin-top: rem(10);
            font-size: rem(24);
        }
    }
}